{% extends "base.html" %}
{% load static %}

{% block section %}

{% load crispy_forms_tags %}

 <!-- Page Header Start -->
 <div class="page-header mb-0">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h2>Daxil Ol</h2>
            </div>
        </div>
    </div>
</div>
 
<section class="vh-100" style="background-color:#fbaf32;">
  <div class="container h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-lg-12 col-xl-11">
        <div class="card text-black" style="border-radius: 25px;">
          <div class="card-body p-md-5">
            <div class="row justify-content-center">
              <div style=" border-radius:10px; padding:10px" class="col-md-10 col-lg-6 col-xl-5 order-2 order-lg-1">
  
                <form style="margin-top:50px; color: black; padding:10px; font:bold; font-family: 'Nunito', sans-serif" method="post" class="mx-1 mx-md-4">
                    {% csrf_token %}

                    {{ form|crispy }}


                  <div class="d-flex justify-content-center mx-4 mb-3 mb-lg-4">
                    <button type="submit" class="btn btn-outline-warning btn-lg">Daxil Ol</button>
                  </div>
                  <div>
                    <p> Hesabın Yoxdur ? <a style="color: blue;  font-family: 'Raleway';" href="/user/register"> Qeydiyyatdan Keç </a></p>
                  </div>

                </form>

              </div>
              <div class="col-md-10 col-lg-6 col-xl-7 d-flex align-items-center order-1 order-lg-2">

                <img style="border-radius:20px; margin-left:100px;" src="{% static 'img/login-1.jpg' %}" class="img-fluid" alt="Sample image">

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

{% endblock section %}